<div id="failure">
  <div class="failure">
    <h1 class="guest_name">UH OH</h1>
  </div>
  </div>
  <p class="thank_you">
    Looks like there was an error.  To RSVP, please email us at:
    <div class="thank_you">
      <div class="well">
        <a href="mailto:pazoleswedding+RSVP@gmail.com">PazolesWedding@gmail.com</a>
      </div>
    </div>
  </p>

  <section class="thank_you">
    <nav class="cl-effect"id="cl-effect">
      <a href="http://www.brookeplusmatt.com">BACK TO THE HOME PAGE</a>
    </nav>
  </section>
