
  <div class="container">
	<h2 class="rsvph2">FIND YOUR INVITATION</h2>
	<%= form_tag url_for(:controller => 'guests', :action => 'edit', :id => 'search'), :method => 'get' do %>

	
	  <%= text_field_tag "search", nil, placeholder: "Search for your name here...", autocomplete: :off%>
	        <button type="submit" class="btn btn-primary btn-xl">SUBMIT</button>

    <% end %>
  </div>