<div id="success">
  <div class="success">
    <h1 class="guest_name">SUCCESS!</h1>
  </div>
  </div>
  <p class="thank_you">
    If you need to update anything, please feel free to email us at:
    <div class="thank_you_sm">
      <div class="well">
        <a href="mailto:pazoleswedding+RSVP@gmail.com">PazolesWedding@gmail.com</a>
      </div>
    </div>
  </p>

  <section class="thank_you">
    <nav class="cl-effect"id="cl-effect">
      <a href="http://www.brookeplusmatt.com">BACK TO THE HOME PAGE</a>
    </nav>
  </section>
