
<div class="field">
  <div class="attending">
    <%= label :name, "Name", :class => 'name-label' %>
    <%= text_field :name,  :name => 'name' %>
  </div>
  <br>
  <br>
    <%= label :plusone, "Do they get a plusone?", :class => 'plusone-label' %>
 	 <%=  check_box :plusone, :class => 'checkbox'%>
</div>

<div class="field">
    
   <%=  label :household_id, "household id", :class => 'hhid-label' %>
    <%=  text_field :household_id,  :household_id => 'household id' %>
   </div>
 <%= submit "Submit", class: "btn btn-primary" %>