<% title "Edit Products" %>  
  
<% form_tag update_guests_products_path :method => :put do %>  
  <% for product in @guests %>  
    <% fields_for "guests[]", guest do |f| %>  
      <h2><%= h guest.name %></h2>  
    <% end %>  
  <% end %>  
  <p><%= submit_tag "Submit" %></p>  
<% end %>  