<h1 class="guest_name"><%= @guest.name.upcase %></h1>

<%= form_for @guest do |f| %>
<%= render 'shared/error_messages' %>

<% if @groupcount == 1 %>

<div class="guest_form jumbotron">
  <div class="field">
    <div class="attending">
      <h4>Will you be able to attend?</h4>
      <br>
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-lg btn-success"><%= f.radio_button(:attending, true)%> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </label>

        <label class="btn btn-lg btn-danger"> <%= f.radio_button(:attending, false)%> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </label>
      </div>
    </div>
    <br>
    <br>
    <%= f.text_area :notes, :class => 'input-lg', :placeholder => 'Allergies/Dietary Restrictions/Special Needs? ' %>
    <%= f.check_box :completed, {:class => 'noshow', :checked => "checked", :type => "hidden"} %>
  </div>

  <br>
  <% if @guest.plusone %>
  <div class="well">
    <div class="field">
      <div class="attending">

        <h4>Will you be bringing a guest?</h4>

        <br>
        <div class="btn-group btn-group-justified" data-toggle="buttons">
          <label class="btn btn-lg btn-success"><%= f.radio_button(:attending, true)%> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </label>

          <label class="btn btn-lg btn-danger"> <%= f.radio_button(:attending, false)%> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </label>
        </div>
      </div>
      <br>
      <br>
      <%= f.text_area :plusone_notes , :class => 'input-lg', :placeholder => 'Allergies/Dietary Restrictions/Special Needs? ' %>
    </div>

    <% end %>
  </div>

</div>

<% else %>

<div class="guest_form jumbotron">
  <div class="field">
    <div class="attending">
      <h4>Will you be able to attend?</h4>
      <br>
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-lg btn-success"><%= f.radio_button(:attending, true)%> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </label>

        <label class="btn btn-lg btn-danger"> <%= f.radio_button(:attending, false)%> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </label>
      </div>
    </div>
    <br>
    <br>
    <%= f.text_area :notes, :class => 'input-lg', :placeholder => 'Allergies/Dietary Restrictions/Special Needs? ' %>
    <%= f.check_box :completed, {:class => 'noshow', :checked => "checked", :type => "hidden"} %>
  </div>

  <br>
  <% if @guest.plusone %>
  <div class="well">
    <div class="field">
      <div class="attending">

        <h4>Will you be bringing a guest?</h4>

        <br>
        <div class="btn-group btn-group-justified" data-toggle="buttons">
          <label class="btn btn-lg btn-success"><%= f.radio_button(:plusone_attending, true)%> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </label>

          <label class="btn btn-lg btn-danger"> <%= f.radio_button(:plusone_attending, false)%> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </label>
        </div>
      </div>
      <br>
      <br>
      <%= f.text_area :plusone_notes , :class => 'input-lg', :placeholder => 'Allergies/Dietary Restrictions/Special Needs? ' %>
    </div>

    <% end %>
  </div>

</div>
<div>
  <h1 class="guest_name">OTHERS ON YOUR INVITATION:</h1>
</div>
<div id="household"">
<% for guest in @guests %>
<div class="guest_form panel panel-default">
<%= fields_for "guests[]", guest do |x|%>
<div class="panel-heading">
<h3 class="guest_name"><%= guest.name %></h3>
</div>
<div class="panel-body">
<div class="field">
<div class="attending">
<h4>Will <%= guest.name %> be able to attend?</h4>
<br>
<div class="btn-group btn-group-justified" data-toggle="buttons">
<label class="btn btn-lg btn-success"><%= x.radio_button(:attending, true)%> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </label>

<label class="btn btn-lg btn-danger"> <%= x.radio_button(:attending, false)%> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </label>
</div>
</div>
<br>
<br>
<%= x.text_area :notes, :class => 'input-lg', :placeholder => 'Allergies/Dietary Restrictions/Special Needs? ' %>
<%= x.check_box :completed, {:class => 'noshow', :checked => "checked", :type => "hidden"} %>
</div>

<% if guest.plusone %>
<div class="well">
<div class="field">
<div class="attending">

<h4>Will they be bringing a guest?</h4>

<br>
<div class="btn-group btn-group-justified" data-toggle="buttons">
<label class="btn btn-lg btn-success"><%= x.radio_button(:plusone_attending, true)%> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> </label>

<label class="btn btn-lg btn-danger"> <%= x.radio_button(:plusone_attending, false)%> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </label>
</div></div>
<br>
<br>
<%= x.text_area :plusone_notes , :class => 'input-lg', :placeholder => 'Allergies/Dietary Restrictions/Special Needs? ' %>
</div>
</div>
<% end %>

</div>
<% end %>
</div>

<% end %>
</div>

<% end %>

<div class="submit">
  <%= f.label :email, "Your email for confirmation" %>
  <br>
  <%= f.text_field :email , :class => 'input-lg', :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>
  <%= f.submit "Submit my RSVP", class: "btn btn-primary", :id => 'formsubmit' %>
</div>

<% end %>
