<p id="notice"><%= notice %></p>

<h1>Listing Guests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Attending</th>
      <th>Notes</th>
      <th>Plusone</th>
      <th>Plusone attending</th>
      <th>Plusone notes</th>
      <th>Email</th>
      <th>Completed</th>
      <th>HHID</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.name %></td>
        <td><%= guest.attending %></td>
        <td><%= guest.notes %></td>
        <td><%= guest.plusone %></td>
        <td><%= guest.plusone_attending %></td>
        <td><%= guest.plusone_notes %></td>
        <td><%= guest.email %></td>
        <td><%= guest.completed %></td>
        <td><%= guest.household_id %></td>        
        <td><%= link_to 'Show', guest %></td>
        <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
        <td><%= link_to 'Destroy', guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guest', new_guest_path %>
