
  <div class="container">
	<h2 class="rsvph2">FIND YOUR RSVP</h2>
<%= form_for(@search, :url => { :action => "edit" }, :html => {:method => :get} ) do |f| %>
	
	  <%= text_field :search, params[:search], nil, placeholder: "Search for your name here...", autocomplete: :off%>
    <% end %>
  </div>
