<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @guest.completed %>
</p>

<p>
  <strong>Attending:</strong>
  <%= @guest.attending %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @guest.notes %>
</p>

<p>
  <strong>Plusone:</strong>
  <%= @guest.plusone %>
</p>

<p>
  <strong>Plusone attending:</strong>
  <%= @guest.plusone_attending %>
</p>

<p>
  <strong>Plusone notes:</strong>
  <%= @guest.plusone_notes %>
</p>

<p>
  <strong>Household:</strong>
  <%= @guest.household_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guest.email %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
