<body style="font-family: Helvetica">
  <h3><%= @guest.name %>:</h3>

  Thanks for RSVPing! Below is what was submitted.
  <div style="display:block; height:1em"></div>

  If everything is correct, you're all set. If you do need to update anything, please email us at
  <%= mail_to "pazoleswedding+rsvp@gmail.com", "PazolesWedding@gmail.com",
  subject: "#{@guest.name}'s RSVP update" %>.
  <div style="display:block; height:1em"></div>

  <h3>Thanks!</h3>
  Brooke + Matt

  <div style="display:block; height:2em"></div>

  <% @guests.each do |g| %>
  <table style="text-align:center;">
    <thead style="border: 1px solid black;">
      <tr >
        <th style="width:150px;">Name</th>
        <th style="width:150px;">Attending</th>
        <% if g.notes.nil? %>
        <%else%>
        <th  style="min-width:150px;">Notes</th>
        <%end%>
        <% if g.plusone == false %>
        <%else%>
        <th style="width:200px;">Plus-one Attending</th>
        <% if g.plusone_notes.nil? %>
        <%else%>
        <th style="width:150px;">Plus-one Notes</th>
        <%end%>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center;"><%= g.name %></td>
        <td><% if g.attending == true%>Yes<% else %>No<%end%></td>
        <% if g.notes.nil? %><% else %><td><%= g.notes %></td><%end%></td>
        <% if g.plusone == false %>
        <%else%>
        <% if g.plusone_attending == true%>
        <td>Yes</td>
        <% else %>
        <td>No </td>
        <% if g.plusone_notes.nil? %>
        <% else %>
        <td><%= g.plusone_notes %></td>
        <%end%>
        <%end%>
        <%end%>
      </tr>
    </tbody>
  </table>
  <div style="display:block; height:3em"></div>
  <% end %>
</body>
