
<%= @guest.name %>:

  We've received your RSVP!  If you need to update anything, please email us at:
  <%= mail_to "pazoleswedding+rsvp@gmail.com", "PazolesWedding@gmail.com",
  subject: "#{@guest.name}'s RSVP update" %>.


Thanks!
  Brooke + Matt