<!DOCTYPE html>
<html>
  <head>
    <title>Brooke + Matt | RSVP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:800,400|Lato|Open+Sans+Condensed:700|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <%end%>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
